In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [52]:
# import data
df = pd.read_csv('Races.csv')

In [3]:
# Reaname Dat column to Date because it annoys me
df = df.rename(columns = {'Dat': 'Date'})
# Convert Date to datetime and use Date as my index
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace = True)
df.head(50)

,Tid,Sig,Rac,Run,Grd,Dst,Pr1,Pr2,Pr3,Pr4,Pr5,Pr6,Pr7,Pr8,Pr9,Ad1,Ad2,Ad3,Ad4,Ad5,Ad6,Ad7,Ad8,Ad9,Wtm,Trk,Mw1,Mw2,Mw3,Mp1,Mp2,Mp3,Ms1,Ms2,Ms3,Mf1,Mf2,Mf3,Mx1,Mx2,Mx3,Mx4,Mx5,Mx6,Mx7,Mx8,Mx9,Se1,Se2,Se3,Se4,ZnH,ZnA,ZnB,ZnF,Nrs,Pay,Ptm,Sf1,Sf2,Sf3,Sf4,Sfg,Fn1,Fn2,Fn3,Fn4
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-01-12,OP,S,7,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32.42,S,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,7,3,1,4
2015-01-12,OP,S,8,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.54,S,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,2,1,7,3
2015-01-12,OP,S,9,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32.71,S,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,1,2,5,3
2015-02-15,PB,S,8,8,NaN,545,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.90,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,1,2,3,7
2015-01-30,BR,S,5,8,S,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.31,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,3,8,2,7
2015-01-30,BR,S,6,8,S,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.45,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,7,6,3,1
2015-02-26,NF,S,3,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.73,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4,00:00 AM,0,0,0,0,0,4,6,7,2
2015-02-26,NF,S,2,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.98,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4,00:00 AM,0,0,0,0,0,1,2,6,4
2015-02-26,NF,S,1,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.89,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4,00:00 AM,0,0,0,0,0,7,8,4,5
2015-01-31,SN,S,1,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.94,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,7,3,5,1
2015-01-31,SN,S,2,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.57,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,1,6,4,2
2015-01-31,SN,S,3,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.43,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,1,2,8,6
2015-03-09,OP,S,6,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.64,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,5,2,4,7
2015-03-09,OP,S,7,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.68,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,4,2,8,7
2015-01-12,OP,S,10,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.99,S,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,3,4,2,6
2015-01-31,PB,A,10,8,D,738,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,43.15,F,23.4,9.4,9.6,0.0,8.4,5.8,0,0.0,4.8,0,0,0.0,Exacta .(6/8) $$252.80,Quinella .(6/8) $$99.80,Trifecta .(6/8/3) $$997.00,"Superfecta .(6/8/3/2) $ $10,366.4",Tri Box (6/8/3) $498.50,,,,,6 8 7 4,,,,"Superfecta, Exacta, Quiniela, Trifecta",,,,15,0,3:33PM,5,4,3,6,90,6,8,3,2
2015-01-31,SN,S,6,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.26,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,6,1,2,4
2015-02-15,PB,S,11,8,NaN,545,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.58,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,1,8,4,5
2015-03-02,OP,S,3,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.65,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,1,8,5,2
2015-03-09,OP,S,8,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.61,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,8,4,7,1
2015-03-21,PB,A,8,8,C,660,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,38.09,F,5.4,3.8,2.8,0.0,13.8,8.4,0,0.0,4.6,0,0,0.0,Exacta .(4/6) $$58.20,Quinella .(4/6) $$31.80,Trifecta .(4/6/3) $$263.20,"Superfecta .(4/6/3/5) $ $2,887.80",Tri Box (4/6/3) $131.60,,,,,4 5 1 3,,,,"Superfecta, Exacta, Quiniela, Trifecta",,,,15,0,2:59PM,8,4,5,3,99,4,6,3,5
2015-03-26,SL,S,5,8,NaN,583,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32.56,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,2,1,4,5
2015-04-02,OP,S,8,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.46,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,8,1,5,4
2015-04-08,SN,S,3,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.15,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,2,4,5,1
2015-04-15,PB,S,8,8,NaN,545,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.35,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,4,2,1,5
2015-04-25,PB,E,6,8,B,660,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,38.05,F,8.0,4.0,2.6,0.0,10.6,3.4,0,0.0,2.6,0,0,0.0,Exacta .(3/8) $$56.40,Quinella .(3/8) $$41.00,Trifecta .(3/8/4) $$151.00,Superfecta .(3/8/4/7) $$934.00,Tri Box (3/8/4) $75.50,,,,,6 1 4 3,,,,"Superfecta, Exacta, Quiniela, Trifecta",,,,15,0,8:25PM,6,3,4,1,105,3,8,4,7
2015-04-30,OP,S,11,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.07,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,2,8,4,5
2015-05-10,IG,S,7,8,Scl,5-16,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32.12,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,4,00:00 AM,0,0,0,0,0,1,7,5,4
2015-05-19,PB,A,8,8,C,545,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,29.97,F,5.2,3.2,2.8,0.0,6.8,3.4,0,0.0,4.2,0,0,0.0,Exacta .(1/2) $$36.60,Quinella .(1/2) $$24.40,Trifecta .(1/2/7) $$297.00,"Superfecta .(1/2/7/5) $ $1,522.00",Tri Box (1/2/7) $148.50,,,,,1 5 2 6,,,,"Superfecta, Exacta, Quiniela, Trifecta",,,,15,0,2:59PM,4,5,6,1,96,1,2,7,5
2015-06-03,PB,S,6,8,NaN,545,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.50,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,7,4,1,2
2015-06-12,SP,S,5,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.82,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,4,00:00 AM,0,0,0,0,0,4,7,2,5
2015-06-17,SN,S,5,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.64,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,6,1,2,4
2015-07-07,SP,S,9,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.28,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,4,12:00 PM,0,0,0,0,0,7,8,1,2
2015-07-12,PB,S,4,8,NaN,545,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.01,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,1,4,8,6
2015-07-19,GG,S,5,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.15,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,3,4,5,7
2015-07-29,PB,S,3,8,NaN,545,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.47,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,8,5,7,2
2015-08-13,TS,S,4,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.67,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,4,8,6,3
2015-08-21,DB,S,9,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.14,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,7,2,1,4
2015-09-24,FL,S,3,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32.16,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4,12:00 PM,0,0,0,0,0,7,4,1,2
2015-10-02,PB,E,6,8,A,738,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,42.48,F,9.6,3.2,2.6,0.0,3.2,2.4,0,0.0,3.8,0,0,0.0,Exacta .(6/2) $$31.00,Quinella .(2/6) $$14.80,Trifecta .(6/2/1) $$177.20,Superfecta .(6/2/1/8) $$803.80,Tri Box (6/2/1) $88.60,,,,,2 6 3 4,,,,"Superfecta, Exacta, Quiniela, Trifecta",,,,15,0,8:10PM,5,6,4,2,111,6,2,1,8
2015-10-09,SP,S,4,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.25,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4,12:00 PM,0,0,0,0,0,7,5,1,3
2015-10-25,PB,S,7,8,NaN,301,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17.25,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,1,0,0,0
2015-11-15,NF,S,4,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.90,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,4,12:00 PM,0,0,0,0,0,5,7,3,2
2015-11-20,MG,S,7,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.83,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,3,4,6,1
2015-12-03,OP,S,9,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.44,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,6,3,7,2
2015-12-13,NF,S,5,8,Scl,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.42,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,4,12:00 PM,0,0,0,0,0,5,2,1,3
2015-12-18,TS,S,8,8,NaN,550,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30.83,F,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,6,1,5,8
2016-01-01,BM,S,7,8,S,3-16,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18.29,S,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,2,3,4,7
2016-01-01,BM,S,8,8,S,3-16,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18.72,S,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,8,1,6,7
2016-01-01,BM,S,9,8,S,3-16,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18.47,S,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,,,,,,,,,,,,,,,,,,0,0,,0,0,0,0,0,2,8,6,7

In [4]:
df.shape

(417273, 67)

In [53]:
df.drop(columns=['ZnH', 'ZnA', 'ZnB', 'ZnF', 'Se1', 'Se2', 'Se3', 'Se4'], inplace=True)

In [54]:
test = pd.DataFrame(df.isnull().sum())
test[test[0] > 0]

         0
Grd  16314
Dst     84
Mx1     29
Mx2     49
Mx3     44
Mx4   1017
Mx5    539
Mx6    427
Mx7    306
Mx8    223
Mx9     23
Ptm  18029

In [55]:
df.dropna(inplace=True)

In [56]:
df.shape

(381101, 60)