In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [276]:
# import data
df = pd.read_csv('../Dog Racing Info/Races.csv')
df.shape

(417273, 68)

In [277]:
# Reaname Dat column to Date because it annoys me
df = df.rename(columns = {'Dat': 'Date'})
# Convert Date to datetime and use Date as my index
df['Date'] = pd.to_datetime(df['Date'])
# Drop columns that are useless
df.drop(columns=['ZnH', 'ZnA', 'ZnB', 'ZnF'], inplace=True)
#Drop columns that have too many nulls
df.drop(columns=['Ptm'], inplace=True)
#Drop columns for other reasons
df.drop(columns=['Run'], inplace=True) #99% of the values are 8, so this column is pointless
#test
df.drop(columns=['Se1', 'Se2', 'Se3', 'Se4'], inplace=True)

In [280]:
#keep this in mind, these are the nulls we dropped, may come back for these later to improve model
test = pd.DataFrame(df.isnull().sum())
test[test[0] > 0]

Empty DataFrame
Columns: [0]
Index: []

In [279]:
df.dropna(inplace=True)

In [281]:
convert_dst_values_dict = {'5-16':'503', '5/16':'503', '3-16':'301', '3/16':'301', '3-8':'603', '3/8':'603', ' ':'0', 'DC  ':'0',
                           '7-16':'703', '313':'316', '334':'330', '545':'550', '548':'550', '677':'678', '679':'678'}
df['Dst'] = df['Dst'].map(lambda x: convert_dst_values_dict[x] if x in convert_dst_values_dict.keys() else x)
df['Dst'] = df['Dst'].astype(int)
df = df[df['Dst'] != 0]

In [297]:
df = df[df['Grd'] != ' ']  #remove row with blank string
df = df[df['Nrs'] != 999]  #remove 4 rows with 999 # of races

In [267]:
df.Pr3 = df.Pr3.round(2)
df.Pr4 = df.Pr4.round(2)

In [285]:
df.columns

Index(['Tid', 'Date', 'Sig', 'Rac', 'Grd', 'Dst', 'Pr1', 'Pr2', 'Pr3', 'Pr4',
       'Pr5', 'Pr6', 'Pr7', 'Pr8', 'Pr9', 'Ad1', 'Ad2', 'Ad3', 'Ad4', 'Ad5',
       'Ad6', 'Ad7', 'Ad8', 'Ad9', 'Wtm', 'Trk', 'Mw1', 'Mw2', 'Mw3', 'Mp1',
       'Mp2', 'Mp3', 'Ms1', 'Ms2', 'Ms3', 'Mf1', 'Mf2', 'Mf3', 'Mx1', 'Mx2',
       'Mx3', 'Mx4', 'Mx5', 'Mx6', 'Mx7', 'Mx8', 'Mx9', 'Nrs', 'Pay', 'Sf1',
       'Sf2', 'Sf3', 'Sf4', 'Sfg', 'Fn1', 'Fn2', 'Fn3', 'Fn4'],
      dtype='object')

In [299]:
df['Pay'].value_counts().sort_index()

0    321543
2       490
3         3
4     76146
9        86
Name: Pay, dtype: int64